<section class="needs-favour">

  <h3 class="sub-heading">What do you need? </h3>
  <form class="help-form">
      
    <div class="form-group"> 
      <textarea id="Looking-For" class="form-control looking-for" placeholder="Give a brief description of the favour that you would require." rows="5"></textarea>
    </div>   

    <button class="btn btn-full">Find It!</button>

  </form>

</section>  